@model MvcApplicationForCV.Models.CV

@{
    ViewData["Title"] = "Create CV";
    var educationStatusOptions = Html.GetEnumSelectList<MvcApplicationForCV.Models.Enum.EducationStatuss>();
    var languageSkillOptions = Html.GetEnumSelectList<MvcApplicationForCV.Models.Enum.LanguageSkills>();
 }


<h1>Create CV</h1>

<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="PersonalInfo.FirstName">First Name</label>
        <input asp-for="PersonalInfo.FirstName" class="form-control" />
    </div>    
    <div class="form-group">
        <label asp-for="PersonalInfo.LastName">Last Name</label>
        <input asp-for="PersonalInfo.LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PersonalInfo.PhoneNumber">Phone Number</label>
        <input asp-for="PersonalInfo.PhoneNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PersonalInfo.Email">Email</label>
        <input asp-for="PersonalInfo.Email" class="form-control" />
    </div>
    <div id="addressList">
        <div class="address-entry">
            <div class="form-group">
                <label asp-for="PersonalInfo.AddressList[0].Country">Country</label>
                <input asp-for="PersonalInfo.AddressList[0].Country" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PersonalInfo.AddressList[0].City">City</label>
                <input asp-for="PersonalInfo.AddressList[0].City" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PersonalInfo.AddressList[0].Street">Street</label>
                <input asp-for="PersonalInfo.AddressList[0].Street" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PersonalInfo.AddressList[0].StreetNumber">Street Number</label>
                <input asp-for="PersonalInfo.AddressList[0].StreetNumber" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PersonalInfo.AddressList[0].PostalCode">Postal Code</label>
                <input asp-for="PersonalInfo.AddressList[0].PostalCode" class="form-control" />
            </div>
        </div>
    </div>
    <button type="button" id="addAddress">Add Address</button>

    <div id="education-list">
        <div class="education-entry">
            <div class="form-group">
                <label asp-for="Educations[0].Name">Name</label>
                <input asp-for="Educations[0].Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Educations[0].Course">Course</label>
                <input asp-for="Educations[0].Course" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Educations[0].EducationLevel">Education Level</label>
                <input asp-for="Educations[0].EducationLevel" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Educations[0].EducationStatuss">Education Statuss</label>
                <select asp-for="Educations[0].EducationStatuss" asp-items="Html.GetEnumSelectList<MvcApplicationForCV.Models.Enum.EducationStatuss>()" class="form-control" id="educationStatus0"></select>
            </div>
            <div class="form-group">
                <label asp-for="Educations[0].StartDate">Start Date</label>
                <input asp-for="Educations[0].StartDate" type="date" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Educations[0].EndDate">End Date</label>
                <input asp-for="Educations[0].EndDate" type="date" class="form-control" id="endDate0" />
            </div>
        </div>
    </div>
    <button type="button" id="addEducation">Add Education</button>

    <div Id="work-experiences-list">
        <div class="work-experience-entry">
            <div class="form-group">
                <label asp-for="WorkExperiences[0].CompanyName">Company Name</label>
                <input asp-for="WorkExperiences[0].CompanyName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="WorkExperiences[0].PositionTitle">Position Title</label>
                <input asp-for="WorkExperiences[0].PositionTitle" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="WorkExperiences[0].PositionDescription">Position Description</label>
                <input asp-for="WorkExperiences[0].PositionDescription" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="WorkExperiences[0].WeeklyWorkLoad">Weekly Work Load</label>
                <input asp-for="WorkExperiences[0].WeeklyWorkLoad" class="form-control" type="number" min="0" />
            </div>
            <div class="form-group">
                <label asp-for="WorkExperiences[0].StartDate">Start Date</label>
                <input asp-for="WorkExperiences[0].StartDate" type="date" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="WorkExperiences[0].EndDate" >End Date</label>
                <input asp-for="WorkExperiences[0].EndDate" type="date" class="form-control" id="workEndDate0" />
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" onchange="toggleEndDateForWork('workEndDate0', this)" id="stillWorking0" />
                <label class="form-check-label" for="stillWorking0">
                    Still Working
                </label>
            </div>
        </div>
    </div>
    <button type="button" id="addWorkExperience">Add Work Experience</button>

    <div id="language-skill-list">
        <div class="language-skill-entry">
            <div class="form-group">
                <label asp-for="LanguageSkills[0].Name">Name</label>
                <input asp-for="LanguageSkills[0].Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="LanguageSkills[0].Listening">Listening</label>
                <select asp-for="LanguageSkills[0].Listening" asp-items="Html.GetEnumSelectList<MvcApplicationForCV.Models.Enum.LanguageSkills>()" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="LanguageSkills[0].Reading">Reading</label>
                <select asp-for="LanguageSkills[0].Reading" asp-items="Html.GetEnumSelectList<MvcApplicationForCV.Models.Enum.LanguageSkills>()" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="LanguageSkills[0].Speaking">Speaking</label>
                <select asp-for="LanguageSkills[0].Speaking" asp-items="Html.GetEnumSelectList<MvcApplicationForCV.Models.Enum.LanguageSkills>()" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="LanguageSkills[0].Writing">Writing</label>
                <select asp-for="LanguageSkills[0].Writing" asp-items="Html.GetEnumSelectList<MvcApplicationForCV.Models.Enum.LanguageSkills>()" class="form-control"></select>
            </div>
        </div>
    </div>
    <button type="button" id="addLanguage">Add Language</button>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<a asp-action="Index">Back to List</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        let educationStatusOptionsHTML = "@Html.Raw(string.Join("", educationStatusOptions.Select(e => $"<option value='{e.Value}'>{e.Text}</option>")))";
        let languageSkillOptionsHtml = "@Html.Raw(string.Join("", languageSkillOptions.Select(e => $"<option value='{e.Value}'>{e.Text}</option>")))";


        document.getElementById("addAddress").addEventListener("click", function () {
            let container = document.getElementById("addressList");
            let index = container.getElementsByClassName("address-entry").length;
            let newDiv = document.createElement("div");
            newDiv.className = "address-entry";

            newDiv.innerHTML =
                '<div class="form-group">' +
                '<label>Country</label>' +
                '<input type="text" class="form-control" name="PersonalInfo.AddressList[' + index + '].Country"/>' +
                '</div>' +
                '<div class="form-group">' +
                '<label>City</label>' +
                '<input type="text" class="form-control" name="PersonalInfo.AddressList[' + index + '].City"/>' +
                '</div>' +
                '<div class="form-group">' +
                '<label>Street</label>' +
                '<input type="text" class="form-control" name="PersonalInfo.AddressList[' + index + '].Street"/>' +
                '</div>' +
                '<div class="form-group">' +
                '<label>Street Number</label>' +
                '<input type="text" class="form-control" name="PersonalInfo.AddressList[' + index + '].StreetNumber"/>' +
                '</div>' +
                '<div class="form-group">' +
                '<label>Postal Code</label>' +
                '<input type="text" class="form-control" name="PersonalInfo.AddressList[' + index + '].PostalCode"/>' +
                '</div>' +
                '<button type="button" class="btn btn-danger btn-sm" onclick="removeEntry(this)">Remove</button>';

            container.appendChild(newDiv);
        });

        document.getElementById("addEducation").addEventListener("click", function () {
            let container = document.getElementById("education-list");
            let index = container.getElementsByClassName("education-entry").length;
            let newDiv = document.createElement("div");
            newDiv.className = "education-entry";

            let educationStatusId = 'educationStatus' + index;
            let endDateId = 'endDate' + index;

            newDiv.innerHTML =
                '<div class="form-group">' +
                '<label>Name</label>' +
                '<input type="text" class="form-control" name="Educations[' + index + '].Name"/>' +
                '</div>' +
                '<div class="form-group">' +
                '<label>Course</label>' +
                '<input type="text" class="form-control" name="Educations[' + index + '].Course"/>' +
                '</div>' +
                '<div class="form-group">' +
                '<label>Education Level</label>' +
                '<input type="text" class="form-control" name="Educations[' + index + '].EducationLevel"/>' +
                '</div>' +
                '<div class="form-group">' +
                '<label>Education Status</label>' +
                '<select class="form-control" id="' + educationStatusId + '" name="Educations[' + index + '].EducationStatuss">' +
                educationStatusOptionsHTML +
                '</select>' +
                '</div>' +
                '<div class="form-group">' +
                '<label>Start Date</label>' +
                '<input type="date" class="form-control" name="Educations[' + index + '].StartDate"/>' +
                '</div>' +
                '<div class="form-group">' +
                '<label>End Date</label>' +
                '<input type="date" class="form-control" id="' + endDateId + '" name="Educations[' + index + '].EndDate"/>' +
                '</div>' +
                '<button type="button" class="btn btn-danger btn-sm" onclick="removeEntry(this)">Remove</button>';

            container.appendChild(newDiv);

            applyToggleLogic(educationStatusId, endDateId);
        });

        applyToggleLogic('educationStatus0', 'endDate0');

        //For work experience
        document.getElementById("addWorkExperience").addEventListener("click", function () {
            let container = document.getElementById("work-experiences-list");
            let index = container.getElementsByClassName("work-experience-entry").length;
            let newDiv = document.createElement("div");
            newDiv.className = "work-experience-entry";

            let endDateId = 'workEndDate' + index;
            let stillWorkingId = 'stillWorking' + index;

            newDiv.innerHTML =
                '<div class="form-group">' +
                '<label>Company Name</label>' +
                '<input type="text" class="form-control" name="WorkExperiences[' + index + '].CompanyName"/>' +
                '</div>' +
                '<div class="form-group">' +
                '<label>Position Title</label>' +
                '<input type="text" class="form-control" name="WorkExperiences[' + index + '].PositionTitle"/>' +
                '</div>' +
                '<div class="form-group">' +
                '<label>Position Description</label>' +
                '<input type="text" class="form-control" name="WorkExperiences[' + index + '].PositionDescription"/>' +
                '</div>' +
                '<div class="form-group">' +
                '<label>Weekly Work Load</label>' +
                '<input type="number" class="form-control" name="WorkExperiences[' + index + '].WeeklyWorkLoad" min="0"/>' +
                '</div>' +
                '<div class="form-group">' +
                '<label>Start Date</label>' +
                '<input type="date" class="form-control" name="WorkExperiences[' + index + '].StartDate"/>' +
                '</div>' +
                '<div class="form-group">' +
                '<label>End Date</label>' +
                '<input type="date" class="form-control" name="WorkExperiences[' + index + '].EndDate" id="workEndDate' + index + '" />' +
                '</div>' +
                '<div class="form-check">' +
                '<input class="form-check-input" type="checkbox" onchange="toggleEndDateForWork(\'workEndDate' + index + '\', this)" id="stillWorking' + index + '"/>' +
                '<label class="form-check-label" for="stillWorking' + index + '">' +
                'Still Working' +
                '</label>' +
                '</div>' +
                '<button type="button" class="btn btn-danger btn-sm" onclick="removeEntry(this)">Remove</button>';

            container.appendChild(newDiv);
        });

        document.getElementById("addLanguage").addEventListener("click", function () {
            let container = document.getElementById("language-skill-list");
            let index = container.getElementsByClassName("language-skill-entry").length;
            let newDiv = document.createElement("div");
            newDiv.className = "language-skill-entry";

            newDiv.innerHTML = `
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="LanguageSkills[${index}].Name" />
                    </div>
                    <div class="form-group">
                        <label>Listening</label>
                                <select class="form-control" name="LanguageSkills[${index}].Listening">${languageSkillOptionsHtml}</select>
                    </div>
                    <div class="form-group">
                        <label>Reading</label>
                                <select class="form-control" name="LanguageSkills[${index}].Reading">${languageSkillOptionsHtml}</select>
                    </div>
                    <div class="form-group">
                        <label>Speaking</label>
                                <select class="form-control" name="LanguageSkills[${index}].Speaking">${languageSkillOptionsHtml}</select>
                    </div>
                    <div class="form-group">
                        <label>Writing</label>
                                <select class="form-control" name="LanguageSkills[${index}].Writing">${languageSkillOptionsHtml}</select>
                    </div>
                    <button type="button" class="btn btn-danger btn-sm" onclick="removeEntry(this)">Remove</button>
                `;

            container.appendChild(newDiv);
        });

        function toggleEndDateForWork(endDateId, checkbox) {
            let endDateInput = document.getElementById(endDateId);
            endDateInput.disabled = checkbox.checked;
        }

        //For disabling or enabling enddate for education
        function applyToggleLogic(educationStatusId, endDateId) {
            var educationStatus = document.getElementById(educationStatusId);
            var endDate = document.getElementById(endDateId);

            function toggleEndDate() {
                endDate.disabled = educationStatus.value !== '0';
            }

            toggleEndDate();
            educationStatus.addEventListener('change', toggleEndDate);
        }

        function removeEntry(element) {
            element.parentElement.remove();
        }

    </script>
}
