<h1>Izveidot Programmu CV datu glabašanai FRONTEND Nepieciešami vismaz tris skati:</h1>

<ul>
    <li>Saraksts ar ievaditajiem CV (dzest, rediget, pievienot CV)</li>
    <li>Viena CV redigešanas skats (pievienot, rediget datus)</li>
    <li>Viena CV apskates skats (CV datu attelošana, ta ka to butu jadruka ara) CV sastav no vismaz tris dalam:</li>
    <li>Pamatdati</li>
    <li>Izglitiba</li>
    <li>Darba pieredze Vizualais noformejums, izmantotas tehnologijas – iespeja izveleties pec saviem ieskatiem. BACKEND Nepieciešama aplikacijas sasaiste ar paša izveidotu datubazi. Izmantota programmešanas valoda PHP.</li>
    <li>CV Pamatdati (Vards, Uzvards, talrunis, e-pasts, …)</li>
    <li>Izglitibas iestades(Nosaukums, fakultate, studiju virziens, izglitibas limenis, statuss – macibas pabeigtas, partrauktas, macas, macibas pavaditais laiks, …)</li>
    <li>Darba vietas(Nosaukums, ienemamais amats, slodzes apmers ,darba stažs – darba pavaditais laiks, …)</li>
    <li>Darba vietas pielietotas prasmes vai sasniegumi(apraksts, veids – pamatdarbs, sasniegums, papildus prasme …)</li>
    <li>Adreses (Valsts, indekss, pilseta, iela, numurs, …) Iespejams pievienot papildus tabulas un datus pec saviem ieskatiem, ka, piemeram, citas prasmes, valodu prasmes, intereses …</li>
</ul>